---
title: Media
layout: default
permalink: "/media/"
extra_css: "
"
extra_js: "
<script src=\"/assets/js/isotope.pkgd.min.js\"></script>

<script>
   $( function () {
      var $container = $('#mediagrid').isotope({
         itemSelector: '.item',
         layoutMode: 'masonry',
         transitionDuration: '0.5s',
         filter: '*'
      });
/*    
		$('#filters').on( 'click', 'li', function() {
         var filterValue = $(this).attr('data-filter');
         $container.isotope({ filter: filterValue });
      });
      $('.nav').each( function( i, buttonGroup ) {
         var $buttonGroup = $( buttonGroup );
         $buttonGroup.on( 'click', 'li', function() {
            $buttonGroup.find('.active').removeClass('active');
            $( this ).addClass('active');
         });
      });
*/
   });
</script>
"
---

<div class="container">
   <h2 class="page-header text-center">{{ page.title }}</h2>
</div>

<div class="container-fluid">
   <div class="col-xs-12"><div class="row" id="mediagrid">
      {% for item in site.media %}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item">
         <a href="{{ item.url }}">
            {% if item.type == "paper" %}<div class="panel panel-primary">
            {% elsif item.type == "video" %}<div class="panel panel-danger">
            {% elsif item.type == "anime" %}<div class="panel panel-warning">
            {% elsif item.type == "news" %}<div class="panel panel-success">
            {% elsif item.type == "book" %}<div class="panel panel-info">
            {% else %}<div class="panel panel-default">
            {% endif %}
            <div class="panel-heading"><h4 class="panel-title">{{ item.title }}</h4></div>
            <div class="panel-body">
					{{ item.content | split:"<!--start-->" | last | split:"<!--end-->" | first | truncate:300 }}
            </div>
         </div></a>
      </div>
      {% endfor %}
   </div></div>

</div>
