<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ page.title }}</title>

		<!-- Bootstrap core CSS -->
		<link href="/assets/css/default.min.css" rel="stylesheet">
		<style>
			body {
				padding-top:50px;
			}
			.headroom {
				position: fixed;
				transition: all .2s ease-in-out;
			}
			.headroom--unpinned {top: -100px;}
			.headroom--pinned {top: 0;}
		</style>

		{{ page.extra_css }}

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="icon" href="/favicon.ico">
	</head>

	{% include navbar.html %}

	<body>
		{{ content }}
	</body>

	<!--  {% include footer.html %} -->

	<script src="/assets/js/default.min.js"></script>
	<script>
		$(".navbar-fixed-top").headroom();
	</script>
	
	{{ page.extra_js }}

</html>
